[submodule "-"]
	path = -
	url = https://github.com/seebi/dircolors-solarized
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized
